**/.DS_Store
.CFUserTextEncoding
.Trash/
.bash_history
.bash_sessions/
.cache/
.cargo/
.config/1Password/ssh/agent.toml
.config/SmartSetMasterErgo (Mac)/reg.xml
.config/aws/config
.config/cheat/cheatsheets/community/
.config/chezmoi/
.config/exercism/user.json
.config/gh/config.yml
.config/gh/hosts.yml
.config/github-copilot/versions.json
.config/karabiner/.DS_Store
.config/karabiner/assets/.DS_Store
.config/karabiner/assets/complex_modifications/.DS_Store
.config/karabiner/assets/complex_modifications/1733163234.json
.config/karabiner/assets/complex_modifications/1733169238.json
.config/karabiner/assets/complex_modifications/1733172987.json
.config/karabiner/assets/complex_modifications/1733240511.json
.config/karabiner/automatic_backups/karabiner_20241202.json
.config/karabiner/automatic_backups/karabiner_20241203.json
.config/karabiner/automatic_backups/karabiner_20241205.json
.config/karabiner/automatic_backups/karabiner_20241206.json
.config/karabiner/automatic_backups/karabiner_20241209.json
.config/karabiner/automatic_backups/karabiner_20241210.json
.config/karabiner/automatic_backups/karabiner_20241211.json
.config/karabiner/automatic_backups/karabiner_20241212.json
.config/karabiner/automatic_backups/karabiner_20241213.json
.config/karabiner/automatic_backups/karabiner_20241214.json
.config/karabiner/automatic_backups/karabiner_20241216.json
.config/karabiner/automatic_backups/karabiner_20241219.json
.config/karabiner/automatic_backups/karabiner_20241220.json
.config/karabiner/automatic_backups/karabiner_20241221.json
.config/karabiner/automatic_backups/karabiner_20250104.json
.config/nvim.bak
.config/op/aws.env
.config/op/cloudflare.env
.config/op/config
.config/op/kubectl.env
.config/pycodestyle
.config/tmux/alternate_session
.config/tmux/plugins/tmux-continuum/
.config/tmux/plugins/tmux-resurrect/
.config/tmux/plugins/tpm/
.config/zsh/.zcompcache/brew_all_commands
.config/zsh/.zcompcache/brew_casks
.config/zsh/.zcompcache/brew_formulae
.config/zsh/.zcompdump
.cups/
.gem/
.hammerspoon/Spoons/
.lesshst
.local/
.nix-channels
.nix-defexpr/
.nix-profile
.node_repl_history
.npm/
.prettierd/
.profile
.python_history
.rustup/
.ssh/
.terraform.d/
.viminfo
.zcompdump
.zsh_history
.zsh_sessions/
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Projects
Public
bin/ARCH
bin/ARCHIVE/
cjon_bin
dotfiles
github
go
src
